/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
 width: 600px;
 /* height: 250px; */
 padding-bottom: 25px;
}
body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 500px;
  background-color: white;
  font-family: 'Trebuchet MS', sans-serif;
}
h1{
  color: #0042ff;
}
